<h1>Eat Burgers!</h1>

<form>
    <div class="form-group">
        <label for="burger-input">Example textarea</label>
        <textarea class="form-control" id="burger-input" rows="2"></textarea>
    </div>
</form>