body {
    background-color: #fef0e4
}

.burger-txt {
    font-family: 'Amatic SC', cursive;;
    font-size: 30px;
    font-weight: 700;
}

.navbar-brand {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}

.reg-txt {
    font-family: 'Roboto', sans-serif;
}

.card-body {
    padding-bottom: 0px;
}

.card {
    margin-bottom: 10px;
}

#textHelp {
    display: none;
}